* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial;
   background-image: url("../img/blackboard-inscribed-with-scientific-formulas-and-calculations-in-mathematics-science-and-education-background-2GYBJM3.jpg");
}

#root {
   display: none;
   max-width: 500px;
   height: auto;
   box-shadow: 1px 5px 10px #3A597A;
   border-radius: 8px;
   margin: 20px auto;
   padding: 40px;
   background-color: #fff
}

#root p {
   color: #20818a;
   font-size: 35px;
   text-align: center;
   margin-bottom: 30px;
}

#root #answerWindow {
   background: #20818a;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 15px
}

#root #answerWindow #result {
   width: 100%;
   height: 150px;
   margin: 10px;
}

#root #answerWindow #result #userCount {
   width: 100%;
   font-size: 25px;
   color: #ffffff;
   text-align: center;
}

#root #answerWindow #result #userCount #counter {
   border: none;
   background: #ffffff;
   color: rgb(0, 0, 0);
   border-radius: 20%;
   padding: 8px;
   font-size: 30px;
   width: 60px;
   margin: 10px auto;
   text-align: center;
}

#root #answerWindow #result #userCount #correctAnswer1 {
   display: block;
   height: 32px;
   text-align: center;
   font-size: 32px;
   color: rgb(128, 0, 0);
   transition: 1s;
   opacity: 0;
}

#root #answerWindow #result #userCount #correctAnswer {
   display: block;
   height: 32px;
   text-align: center;
   font-size: 32px;
   color: green;
   transition: 1s;
   opacity: 0;
}

#root #answerWindow #questionWindow {
   width: 60%;
   height: 100px;
   text-align: center;
   padding: 30px 0px;
   font-size: 40px;
   color: black;
   background: #fff;
   margin: 20px auto 0px auto;
   border-radius: 20px;
}

#root #form {
   width: 100%;
   height: 180px;
   padding: 20px 0px;
   display: flex;
   flex-direction: column;
   align-items: center
}

#form input {
   height: 60px;
   border: none;
   border-radius: 5px;
   outline: none;
   width: 60%;
   padding: 15px 10px;
   border-radius: 10px;
   font-size: 30px;
   text-align: center;
}

#form input::-webkit-outer-spin-button,
#form input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

#form button {
   border: none;
   background: #0b5b62;
   color: #fff;
   border-radius: 5px;
   font-size: 20px;
   width: 50%;
   height: 40px;
   margin: 20px;
   box-shadow: 1px 5px 10px #34495e;


}

#form button:hover {
   cursor: pointer;
   background-color: #04444a;
}

#end {
   display: none;
   width: 300px;
   height: 200px;
   border-radius: 15px;
   background-color: #0b5b62;
   padding: 20px;
   margin: 250px auto;
   font-size: 35px;
   text-align: center;
   color: white;
   box-shadow: 1px 5px 10px #19737b;
}

#end>p {
   margin: 20px;
}